<!-- dialog-box.component.html -->
<!--<mat-card>-->
<!--  <mat-card-title>-->
<h1 mat-dialog-title class="text-center" *ngIf="action !== 'Delete'"><strong>Update document</strong></h1>
<h1 mat-dialog-title class="text-center" *ngIf="action === 'Delete'"><strong>Delete document</strong></h1>
<!--  </mat-card-title>-->
<!--  <mat-card-content>-->
<form #documentForm="ngForm">


  <div mat-dialog-content>

    <div class="example-document" *ngIf="action !== 'Delete'; else elseTemplate">

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input name="id" matInput [ngModel]="documentToEdit.id"
                   readonly disabled>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label>Original doc name</mat-label>
            <input name="origName" matInput [ngModel]="documentToEdit.origName" readonly disabled>
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select name="docState" [ngModel]="documentToEdit.docState">
              <mat-option value="{{state}}" *ngFor="let state of docStates">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label>Document type</mat-label>
            <mat-select name="docType" [ngModel]="documentToEdit.docType">
              <mat-option value="{{docType}}" *ngFor="let docType of docTypeList">{{docType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <br>

      <div class="card bg-light shadow rounded">

        <div class="header text-center">
          <h2>Document configuration</h2>
        </div>


        <div class="card-body" ngModelGroup="docConfig">
          <!--      Doc-Configs-->
          <!--    Configs 2      -->
          <div class="row">

            <div class="col">
              <mat-form-field>
                <mat-label>High quality scanning</mat-label>
                <mat-select name="highQuality" [ngModel]="documentToEdit.docConfig.highQuality.toString()">
                  <mat-option value="false">False</mat-option>
                  <mat-option value="true">True</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>Multipaged file</mat-label>
                <mat-select name="multiPage" [ngModel]="documentToEdit.docConfig.multiPage.toString()">
                  <mat-option value="false">False</mat-option>
                  <mat-option value="true">True</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

          <!--    Configs 2      -->
          <div class="row">

            <div class="col">
              <mat-form-field>
                <mat-label>Language</mat-label>
                <mat-select name="lang" [ngModel]="documentToEdit.docConfig.lang.toString()">
                  <mat-option value="{{language.key}}"
                              *ngFor="let language of languagesMap | keyvalue">{{language.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>Scan immediately</mat-label>
                <mat-select name="scanImmediately" [ngModel]="documentToEdit.docConfig.scanImmediately.toString()">
                  <mat-option value="false">False</mat-option>
                  <mat-option value="true">True</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

        </div>
        <!--        <br>-->

      </div>
      <br>
      <br>

      <div class="row">
        <!--  Text  -->
        <div class="col-7 col-sm-8">
          <input type="text" class="form-control" id="newTags" placeholder="Tag for document"
                 (keyup.enter)="onAddClick($event)">
        </div>
        <div class="col-5 col-sm-4">
          <!--  Button Add  -->
          <div class="text-center ml-3">
            <button class="btn btn-primary" type="button" (click)="onAddClick($event)">
              Add
            </button>
          </div>
        </div>
      </div>

      <br>
      <!--    Adding tags      -->
      <div class="row">
        <div class="col card shadow" style="min-width: 225px;">
          <div class="card-header text-center">
            <b>Existing Tags</b>
          </div>
          <div class="card-body text-center">
            <div (click)="removeItemFromCurrentTags(i)" class="d-block mt-1 mb-1"
                 *ngFor="let tag of documentToEdit.tags; let i = index;">
              <a class="badge badge-pill badge-light" style="font-size: 0.8rem;" href="javascript:void(0)">{{tag}}</a>
            </div>
            <span class="text-secondary"
                  *ngIf="documentToEdit.tags === null || documentToEdit.tags.length === 0"> - None tag
              selected -
            </span>
          </div>
        </div>

        <div class="col card shadow" style="min-width: 225px;">
          <div class="card-header text-center">
            <b>New Tags</b>
          </div>
          <div class="card-body text-center">
            <div (click)="removeItemFromNewTags(i)" class="d-block mt-1 mb-1"
                 *ngFor="let tag of additionalTags; let i = index;">
              <a class="badge badge-pill badge-light" style="font-size: 0.8rem;"
                 href="javascript:void(0)">{{tag.toString()}}</a>
            </div>
            <span class="text-secondary"
                  *ngIf="additionalTags === null || additionalTags.length === 0"> - None new tags
              selected -
            </span>
          </div>
        </div>
      </div>
      <br>
      <br>


    </div>

    <!-- Delete -->
    <ng-template #elseTemplate>
      Sure to delete <b>{{localData.name}}</b>?
    </ng-template>
    <br>


  </div>

  <!--  <div mat-dialog-actions>-->

  <!--  </div>-->
</form>

<div class="row d-flex text-center">
  <div class="col">
    <button mat-button type="submit" (click)="doAction(documentForm)" mat-flat-button
            color="primary">{{action}}</button>
  </div>
  <div class="col">
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</div>

<!--  </mat-card-content>-->
<!--</mat-card>-->
