.dragDropFileContainer {
  //background-image: url("../../assets/cloud-2044823_960_720.png");
  //background-image:;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #08679d;
  border-radius: 15px;
}

.dragDropFileContainer:hover {
  cursor: pointer;
  background-color: #0c70aa !important;
  opacity: 0.2;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #08679d;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img{
  width:35px;
}
