<br>
<br>
<br>

<form #authForm="ngForm" class="form-login text-center" style="min-height: 600px;">
  <div class="align-content-center">

    <i class="fa fa-user-o fa-4x"></i>
    <h1 class="h3 mb-3 font-weight-normal">Reset your account password</h1>

<!--    <div class="form-group">-->
<!--      <label for="inputEmail" class="sr-only">Email</label>-->
<!--      <input type="email" id="inputEmail" class="form-control" name="inputEmail"-->
<!--             [(ngModel)]="inputEmail" placeholder="Email" required autofocus>-->
<!--    </div>-->

    <div class="form-group ">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="inputPassword"
             [(ngModel)]="inputPassword" placeholder="Password" required>
    </div>

    <div class="form-group ">
      <label for="inputCheckPassword" class="sr-only">Retry password</label>
      <input type="password" id="inputCheckPassword" class="form-control" name="inputCheckPassword"
             [(ngModel)]="inputCheckPassword" placeholder="Password" required>
    </div>

    <div class="row mt-4 alert alert-danger text-center" *ngIf="wrongPassword">
      <div class="col">Provided passwords does not match!</div>
    </div>


    <button class="btn btn-lg btn-primary btn-block " type="submit" (click)="onReset(authForm)">Reset</button>


  </div>
</form>
