//div.whole-page{
//  min-width: 440px;
//}
//
//.footer {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  height: 30px; /* Set the fixed height of the footer here */
//  line-height: 30px; /* Vertically center the text there */
//  background-color: #f5f5f5;
//}
//
//
///* Custom page CSS
//-------------------------------------------------- */
///* Not required for template or sticky footer method. */
//
//.container {
//  width: auto;
//  max-width: 680px;
//  padding: 0 15px;
//}
