<div class="card shadow-lg shadow rounded mt-3">
  <div class="card-body" style="min-width: 410px;">

    <div class="container-fluid p-0 pt-3">
      <form>
        <div class="row justify-content-center text-center">


          <div class="col-12 col-sm-8 mt-2">
            <div class="row d-flex justify-content-center flex-wrap">
              <div class="col-auto col-sm-4 d-flex justify-content-center">


                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">{{searchOptionDropDown}}</button>

                  <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="onSearchOptionSelect(option)"
                       *ngFor="let option of searchOptions">{{option}}</a>
                  </div>
                </div>

              </div>

              <!--  Default  -->
              <div class="col-6 col-sm-8" *ngIf="clickedSearchOption === null" style="min-width: 265px;">
                <input type="text" class="form-control" id="inlineFormInputName" disabled
                       placeholder="Please select a search option">
              </div>


              <!--  Id  -->
              <div class="col-7 col-sm-8" *ngIf="clickedSearchOption === searchOptions[0]">
                <input type="text" class="form-control" id="{{searchOptions[0]}}" placeholder="Document id"
                       (keyup.enter)="onAddClick($event)">
              </div>

              <!--  Text  -->
              <div class="col-7 col-sm-8" *ngIf="clickedSearchOption === searchOptions[1]">
                <input type="text" class="form-control" id="{{searchOptions[1]}}" placeholder="Text in document"
                       (keyup.enter)="onAddClick($event)"
                >
              </div>

              <!--  State  -->
              <div class="col-7 col-sm-8" *ngIf="clickedSearchOption === searchOptions[2]">
                <select name="state" class="custom-select" id="{{searchOptions[2]}}" (keyup.enter)="onAddClick($event)">
                  <option selected>Select your document state</option>
                  <option *ngFor="let docState of docStates">{{docState}}</option>
                </select>
              </div>

              <!--  Language  -->
              <div class="col-7 col-sm-8" *ngIf="clickedSearchOption === searchOptions[3]">
                <select name="language" class="custom-select" id="{{searchOptions[3]}}"
                        (keyup.enter)="onAddClick($event)">
                  <option selected>Select your document language</option>
                  <option *ngFor="let language of languages">{{language}}</option>
                </select>
              </div>

              <!--  Text-Regex  -->
              <div class="col-7 col-sm-8" *ngIf="clickedSearchOption === searchOptions[4]">
                <input type="text" class="form-control" id="{{searchOptions[4]}}" placeholder="Regex for searched text">
              </div>

              <!--  Created-date  -->
              <div class="col-8 col-sm-8 pl-0 justify-content-center" *ngIf="clickedSearchOption === searchOptions[5]">
                <app-date-picker-popup (selectedDateFromEmitter)="selectedCreatedDateFrom($event)"
                                       (selectedDateToEmitter)="selectedCreatedDateTo($event)"
                                       dateDescriptionFrom="Date from"
                                       dateDescriptionTo="Date to"></app-date-picker-popup>
              </div>

              <!--  Updated-date  -->
              <div class="col-8 col-sm-8 pl-0 justify-content-center" *ngIf="clickedSearchOption === searchOptions[6]">
                <app-date-picker-popup (selectedDateFromEmitter)="selectedUpdatedDateFrom($event)"
                                       (selectedDateToEmitter)="selectedUpdatedDateTo($event)"
                                       dateDescriptionFrom="Date from"
                                       dateDescriptionTo="Date to"></app-date-picker-popup>
              </div>

              <!--  Is shared  -->
              <div class="col-7 col-sm-8" *ngIf="clickedSearchOption === searchOptions[7]">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Shared docs only
                </label>
              </div>
            </div>
          </div>


          <div class="col-4 col-sm-4 mt-2 " style="min-width: 300px">
            <div class="row text-center justify-content-center">


              <!--  Button Add  -->
              <div class="text-center ml-3">
                <button class="btn btn-primary" type="button" (click)="onAddClick($event)"
                        [disabled]="(clickedSearchOption === searchOptions[5] || clickedSearchOption ===
                    searchOptions[6])">
                  Add
                </button>
              </div>

              <!-- Buttons Search -->
              <div class="text-center ml-3 mr-3">
                <button class="btn btn-success" type="button" (click)="onSearchClick()" *ngIf="!isSearching">
                  Search
                </button>

                <button class="btn btn-success" disabled *ngIf="isSearching">
                  <span class="spinner-border spinner-border-sm"></span>
                  Searching..
                </button>
              </div>

              <!--  Reset  -->
              <div class="text-center mr-3">
                <button class="btn btn-danger" type="button" (click)="onResetClick()">
                  Reset
                </button>
              </div>

            </div>
          </div>
        </div>
      </form>

      <div class="row justify-content-center text-center mt-3 d-flex flex-wrap">

        <!--   Per column cards     -->
        <!--        style="width: 18rem;"-->
        <div class="col card shadow" style="min-width: 225px;">
          <div class="card-header">
            <b>Ids</b>
          </div>
          <div class="card-body text-center">
            <div *ngFor="let selectedId of searchDocParams.ids; let i = index;"
                 (click)="removeItemFromIds(i)" class="d-block mt-1 mb-1">
              <a class="badge badge-pill badge-light" style="font-size: 0.8rem;"
                 href="javascript:void(0)">{{selectedId}}</a>
            </div>
            <span class="text-secondary"
                  *ngIf="searchDocParams.ids === null || searchDocParams.ids.length === 0"> - None id selected -
            </span>
          </div>
        </div>

        <div class="col card shadow" style="min-width: 225px;">
          <div class="card-header">
            <b>Text</b>
          </div>
          <div class="card-body text-center">
            <div (click)="removeItemFromText(i)" class="d-block mt-1 mb-1"
                 *ngFor="let text of searchDocParams.searchedText; let i = index;">
              <a class="badge badge-pill badge-light" style="font-size: 0.8rem;" href="javascript:void(0)">{{text}}</a>
            </div>
            <span class="text-secondary"
                  *ngIf="searchDocParams.searchedText === null || searchDocParams.searchedText.length === 0"> - None
              text selected -
            </span>
          </div>
        </div>

        <div class="col card shadow" style="min-width: 225px;">
          <div class="card-header">
            <b>States</b>
          </div>
          <div class="card-body">
            <div (click)="removeItemFromStates(i)" class="d-block mt-1 mb-1"
                 *ngFor="let state of searchDocParams.states; let i = index;">
              <a class="badge badge-pill badge-light" style="font-size: 0.8rem;" href="javascript:void(0)">{{state}}</a>
            </div>
            <span class="text-secondary"
                  *ngIf="searchDocParams.states === null || searchDocParams.states.length === 0"> - None state
              selected -
            </span>
          </div>
        </div>

        <div class="col card shadow" style="min-width: 225px;">
          <div class="card-header">
            <b>Language</b>
          </div>
          <div class="card-body">
            <div (click)="removeItemFromLanguages(i)" class="d-block mt-1 mb-1"
                 *ngFor="let language of searchDocParams.languages; let i = index;">
              <a class="badge badge-pill badge-light" style="font-size: 0.8rem;"
                 href="javascript:void(0)">{{language}}</a>
            </div>
            <span class="text-secondary"
                  *ngIf="searchDocParams.languages === null || searchDocParams.languages.length === 0"> - None
                language selected -
            </span>
          </div>
        </div>

      </div>

      <div class="row justify-content-center align-items-center text-center mt-3 d-flex" id="accordion">
        <!--        <div >-->
        <div class="card result-box">
          <div class="card-header p-1" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link pull-left" data-toggle="collapse" data-target="#collapseOne"
                      aria-controls="collapseOne" (click)="onCollapseClick()">
                <!--                  <span *ngIf="this.showAdditionalSettings">-->
                <!--                    Show additional settings-->
                <!--                  </span>-->
                <!--                <span *ngIf="!this.showAdditionalSettings">-->
                <!--                    Hide additional settings-->
                <!--                  </span>-->
                Additional settings
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">


              <div class="col">
                <table class="table table-hover table-bordered shadow">
                  <thead>
                  <tr style="background-color: #f7f7f7;">
                    <th width="25%" scope="col">Additional search settings</th>
                    <th width="70%" scope="col">Value</th>
                    <th width="5%" scope="col">Reset Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th class="align-middle" scope="row">Shared document</th>
                    <td class="align-middle" colspan="1" *ngIf="searchDocParams.isShared !== null"
                    >{{searchDocParams.isShared.toString() | titlecase}}</td>
                    <td class="align-middle" colspan="1" *ngIf="searchDocParams.isShared === null"
                    >None selected</td>
                  </tr>
                  <tr *ngIf="searchDocParams.textRegex !== null">
                    <th class="align-middle" scope="row">Text regex</th>
                    <td class="align-middle" colspan="1">{{searchDocParams.textRegex}}</td>
                    <td class="align-middle" colspan="1">
                      <i class="fa fa-refresh text-warning btn" title="reset"
                         (click)="resetAdditionalSetting('Regex')"></i>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle" scope="row">Created date from</th>
                    <td class="align-middle"
                        *ngIf="searchDocParams.createdFrom !== null ">{{searchDocParams.createdFrom | date:'dd/MM/yyyy'}}</td>
                    <td class="align-middle" *ngIf="searchDocParams.createdFrom === null "> - Date not selected -</td>
                    <td class="align-middle" colspan="1">
                      <i class="fa fa-refresh text-warning btn" title="reset"
                         (click)="resetAdditionalSetting('createFrom')"></i>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle" scope="row">Created date to</th>
                    <td class="align-middle"
                        *ngIf="searchDocParams.createdTo !== null ">{{searchDocParams.createdTo | date:'dd/MM/yyyy'}}</td>
                    <td class="align-middle" *ngIf="searchDocParams.createdTo === null "> - Date not selected -</td>
                    <td class="align-middle" colspan="1">
                      <i class="fa fa-refresh text-warning btn" title="reset"
                         (click)="resetAdditionalSetting('createTo')"></i>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle" scope="row">Updated date from</th>
                    <td class="align-middle"
                        *ngIf="searchDocParams.updatedFrom !== null ">{{searchDocParams.updatedFrom | date:'dd/MM/yyyy'}}</td>
                    <td class="align-middle" *ngIf="searchDocParams.updatedFrom === null "> - Date not selected -</td>
                    <td class="align-middle" colspan="1">
                      <i class="fa fa-refresh text-warning btn" title="reset"
                         (click)="resetAdditionalSetting('updateFrom')"></i>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle" scope="row">Updated date to</th>
                    <td class="align-middle"
                        *ngIf="searchDocParams.updatedTo !== null ">{{searchDocParams.updatedTo | date:'dd/MM/yyyy'}}</td>
                    <td class="align-middle" *ngIf="searchDocParams.updatedTo === null "> - Date not selected -</td>
                    <td class="align-middle" colspan="1">
                      <i class="fa fa-refresh text-warning btn" title="reset"
                         (click)="resetAdditionalSetting('updateTo')"></i>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--          </div>-->

        </div>
      </div>

    </div>
  </div>


</div>
