div.card-header{
  background-color: inherit;
}

.result-box {
  //position: absolute;
  //z-index: 2;

  /* Either use 100% width, or the left right combination */
  width: 100%;

  /*left: 0;
  right: 0;*/

  //padding: 1rem 1.5rem;
  //top: 100%;
}
//.table > tbody > tr > th > td {
//  vertical-align: middle;
//}


