<div class="align-self-center">
  <h1 class="">Welcome to the DocsArchive</h1>
  <div class="row alert-warning" *ngIf="!isLogged">You are not logged in, please log in to see more!</div>
  <br>
  <br>
<!--  <div class="container">-->
    <p>The reason for creating the app was to allow user to store documents and to do following operation on
      them:</p>
    <ul class="list-group">
      <li class="list-group-item">save documents</li>
      <li class="list-group-item">use tesseract OCR to scan a document and extract text</li>
      <li class="list-group-item">search document using extracted text</li>
      <li class="list-group-item">delete documents</li>
      <li class="list-group-item">etc...</li>
    </ul>
    <p>
      These are basic features of the app prototype. Later it may be expanded.
    </p>
<!--  </div>-->
</div>

