<!-- Custom search to server -->
<app-document-search></app-document-search>


<div class="mat-elevation-z8 mt-4">
  <!-- Filter || search -->
  <!--  <form class="example-form" style="margin-left: 15px;">-->
  <!--    <mat-form-field class="example-full-width mt-4">-->
  <!--      <mat-label>Filter</mat-label>-->
  <!--      <input matInput placeholder="Ex. Pizza" value="TODO">-->
  <!--    </mat-form-field>-->
  <!--  </form>-->

  <!-- Filters over columns -->
  <div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
      <mat-label>Filter {{filter.name}}</mat-label>
      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
              (change)="filterChange(filter,$event)">
        <option value="">-- Select {{filter.name}} --</option>
        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
      </select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
  </div>


  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <!--  Columns  -->
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="column !== 'documentProcessStatus'">
          {{element[column]}}
        </div>
        <div *ngIf="column === 'documentProcessStatus'">
          {{element.docState}}
        </div>
      </td>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div style="padding-left:25px;">

            <!--            <app-async-api-info [row]="element" *ngIf="element.asyncApiInfo !== null"></app-async-api-info>-->
            <p>Yolo</p>

            <app-doc-config [row]="element" *ngIf="element.docConfig !== null"></app-doc-config>

            <app-pages [row]="element" *ngIf="element.pages !== null"></app-pages>

          </div>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns; "
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row"></tr>
    <!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-detail-row"></tr>-->
    <!--    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->
  </table>

  <mat-paginator [pageSizeOptions]="[1,2 ,5, 10, 20]"
                 [length]="totalSize"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 showFirstLastButtons
                 (page)="getServerData($event)"></mat-paginator>

</div>

