<div class="mat-elevation-z8 mt-4">

  <form class="example-form" style="margin-left: 15px;">
    <mat-form-field class="example-full-width mt-4">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Ex. Pizza" value="To be filled">
    </mat-form-field>
  </form>

  <div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
      <mat-label>Filter {{filter.name}}</mat-label>
      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
              (change)="filterChange(filter,$event)">
        <option value="">-- Select {{filter.name}} --</option>
        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
      </select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
  </div>


  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <div *ngIf="column !== 'documentProcessStatus'">
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </div>

      <div *ngIf="column === 'documentProcessStatus'">
        <td mat-cell *matCellDef="let element"> {{element.asyncApiInfo.documentProcessStatus}} </td>
      </div>

    </ng-container>

    <!--    &lt;!&ndash; Position Column &ndash;&gt;-->
    <!--    <ng-container matColumnDef="id">-->
    <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
    <!--    </ng-container>-->

    <!--    &lt;!&ndash; origName Column &ndash;&gt;-->
    <!--    <ng-container matColumnDef="origName">-->
    <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{element.origName}} </td>-->
    <!--    </ng-container>-->


    <!--    &lt;!&ndash; createDateTime Column &ndash;&gt;-->
    <!--    <ng-container matColumnDef="createDateTime">-->
    <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation Time</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{element.createDateTime | date: 'dd.MM.yyyy HH:mm'}} </td>-->
    <!--    </ng-container>-->

    <!--    &lt;!&ndash; updateDateTime Column &ndash;&gt;-->
    <!--    <ng-container matColumnDef="updateDateTime">-->
    <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Time</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{element.updateDateTime | date: 'dd.MM.yyyy HH:mm'}} </td>-->
    <!--    </ng-container>-->

    <!--    &lt;!&ndash; updateDateTime Column &ndash;&gt;-->
    <!--    <ng-container matColumnDef="documentProcessStatus">-->
    <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Status</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{element.asyncApiInfo.documentProcessStatus}} </td>-->
    <!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

